name: .NET CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Deploy Docker Container
        run: |
          sudo fuser -k 8080/tcp || true
          
          docker rm -f my-api-prod || true
          
          docker build -t dotnet-app-prod .
          
          docker run -d --name my-api-prod \
            -p 8080:8080 \
            -e ConnectionStrings__DefaultConnection="Host=172.17.0.1;Port=5432;Database=project_db;Username=project_user;Password=secure_pass" \
            dotnet-app-prod