name: .NET CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  ci-build:
    runs-on: self-hosted
    steps:
      - name: Cleanup workspace permissions
        run: sudo chown -R $USER:$USER .

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lint (dotnet format)
        run: |
          docker run --rm -v $(pwd):/src -w /src mcr.microsoft.com/dotnet/sdk:10.0 \
          dotnet format DotNetApi.csproj --verify-no-changes

      - name: Build Docker Image
        run: docker build -t dotnet-app-prod .

  deploy:
    needs: ci-build 
    runs-on: self-hosted
    steps:
      - name: Cleanup workspace permissions
        run: sudo chown -R $USER:$USER .

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy Container
        run: |
          sudo fuser -k 8080/tcp || true
          docker rm -f my-api-prod || true
          docker run -d --name my-api-prod \
            -p 8080:8080 \
            -e ConnectionStrings__DefaultConnection="Host=172.17.0.1;Port=5432;Database=project_db;Username=project_user;Password=secure_pass" \
            dotnet-app-prod